{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<script src="{% static '/js/rolfunctions.js' %}"></script>

{% comment %} SECCION DE MENSAJES DE ALERTA O VERIFICACION {% endcomment %}
<div>
    {% if messages %}
    <div class="alert alert-success" role="alert">
        <ul class="messages">
            {% for message in messages %}
            <h3{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</h3>
                {% endfor %}
        </ul>
        <script>
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(1000, function () {
                    $(this).remove();
                });
            }, 1500);
        </script>
        {% endif %}
    </div>
</div>

<div class="card bg-primary text-white">
    <div class="card-header">
        <h2 class="">
            <i class="fa-regular fa-address-book"></i>
            <span style="margin-left: 15px;">{% trans "Roles" %}</span>
        </h2>
    </div>
</div>

<div class="table-responsive py-4" style="max-height: 480px; overflow-y: auto;">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{% trans "Nombre" %}</th>
                <th>{% trans "Descripción" %}</th>
                <th colspan="2">{% trans "Opciones" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for rol in rol %}
            <tr>
                <td>{{rol.rol_nombre}}</td>
                <td>{{rol.rol_descripcion}}</td>

                <!--Boton de edicion-->
                <form method="get" action="{% url 'edit_rol' %}">
                    {% csrf_token %}
                    <input type="hidden" name="rol_editID" value="{{rol.rol_cod}}">
                    <td> <button type="submit" class="btn btn-outline-primary">{% trans "Editar" %}</button></td>
                </form>

                <!--Boton de borrado-->
                <form method="post" action="{% url 'delete_rol' %}">
                    {% csrf_token %}
                    <input type="hidden" name="rolID" value="{{rol.rol_cod}}">
                    <td> <button type="submit" class="btn btn-outline-danger" data-toggle="tooltip" data-placement="top" title="Eliminar">{% trans "Eliminar" %}</button></td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<!-- -->
    <button type="button" class="btn btn-success" onclick=redirectcreateRol() style="margin-left: 5px;"> <i
            class="fa-solid fa-person-circle-plus"></i> {% trans "Crear Rol" %}
    </button>


</div>

{% endblock %}