{% extends 'base.html' %}
{% load i18n %}

{% load static %}

{% block content %}

<div class="card bg-primary text-white">
    <div class="card-header">
        <h2 class="">
            <i class="fa-solid fa-dollar-sign"></i>
            <span style="margin-left: 15px;">{% trans "Ventas" %}</span>
        </h2>
    </div>
</div>

<div class="table-responsive py-4" style="max-height: 480px; overflow-y: auto;">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">{% trans "Usuario" %}</th>
                <th scope="col">{% trans "Fecha de registro" %}</th>
                <th scope="col">{% trans "Producto" %}</th>
                <th scope="col">{% trans "Subtotal" %}</th>
                <th scope="col">{% trans "Total" %}</th>
                <th colspan="2">{% trans "Opciones" %}</th>
            </tr>
        </thead>
        <tbody>
            <!-- CICLO FOR PARA MOSTRAR LOS DATOS-->
            <!--for-->

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

                <!--Boton de edicion-->
                <form method="" action="">
                    {% csrf_token %}
                    <input type="hidden" name="" value="">
                    <td> <button type="" class="btn btn-outline-primary">{% trans "Editar" %}</button></td>
                </form>
    
                <!--Boton de borrado-->
                <form method="" action="">
                    {% csrf_token %}
                    <input type="hidden" name="" value="">
                    <td> <button type="" class="btn btn-outline-danger">{% trans "Eliminar" %}</button></td>
                </form>
            </tr>
            <!--endfor-->

        </tbody>
    </table>
</div>

<button onclick="addSale()" type="button" class="btn btn-success" style="margin-left: 5px;"> <i class="fa-solid fa-plus"></i> {% trans "Añadir Venta" %}
</button>

{% endblock %}
