{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<script src="{% static '/js/editUser.js' %}"></script>
<script src="{% static '/js/userfunctions.js' %}"></script>

{% comment %} SECCION DE MENSAJES DE ALERTA O VERIFICACION {% endcomment %}
<div>
    {% if messages %}
    <div class="alert alert-success" role="alert">
        <ul class="messages">
            {% for message in messages %}
            <h3{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</h3>
                {% endfor %}
        </ul>
        {% endif %}
    </div>
    <script>
        window.setTimeout(function(){
            $(".alert").fadeTo(500, 0).slideUp(1000, function(){
                $(this).remove();
            });
        }, 1500);
    </script>
</div>

<div class="card bg-primary text-white">
    <div class="card-header">
        <h2 class="">
            <i class="fas fa-user"></i>
            <span style="margin-left: 15px;">{% trans "Usuarios" %}</span>
        </h2>
    </div>
</div>

<div class="table-responsive py-4" style="max-height: 480px; overflow-y: auto;">
    <table class="table table-bordered">
        <thead>
            <tr>
                <!--INFORMACIÓN DE PRUEBA CON TABLA LOCAL-->
                <th>{% trans "Username" %}</th>
                <th>{% trans "Nombre" %}</th>
                <th>{% trans "Apellido" %}</th>
                <th>{% trans "Tipo Doc" %}</th>
                <th>{% trans "NroDoc" %}</th>
                <th>{% trans "Email" %}</th>
                <th>{% trans "Teléfono" %}</th>
                <th>{% trans "Rol" %}</th>
                <th>{% trans "Sucursal" %}</th>
                <th colspan="2">{% trans "Opciones" %}</th>
            </tr>
        </thead>
        <tbody>
            <!--INFORMACIÓN DE PRUEBA CON TABLA LOCAL-->
            {% for usuario in listado_usuarios %}
              
            <tr>
                <td>{{usuario.username}}</td>
                <td>{{usuario.first_name}}</td>
                <td>{{usuario.last_name}}</td>
                <td>{{usuario.user_per_tipo_doc}}</td>
                <td>{{usuario.user_numero_doc}}</td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.user_telefono}}</td>
                <td>{{usuario.cod_rol.rol_nombre}}</td>
                <td>
                    {% if usuario.sucursal_cod %}
                        {{usuario.sucursal_cod}}
                    {% else %}
                        {% trans "No asignada" %}
                    {% endif %}
                </td>

                <!--Boton de edicion-->
                <form method="get" action="{% url 'edit_usuario' %}">
                    {% csrf_token %}
                    <input type="hidden" name="editID" value="{{usuario.id}}">
                    <td> <button type="submit" class="btn btn-outline-primary">{% trans "Editar" %}</button></td>
                </form>

                <!--Boton de borrado-->
                <form method="post" action="{% url 'delete_user' %}">
                    {% csrf_token %}
                    <input type="hidden" name="userID" value="{{usuario.id}}">
                    <td> <button type="submit" class="btn btn-outline-danger">{% trans "Eliminar" %}</button></td>
                </form>

            </tr>
            {% endfor %}
        </tbody>
    </table>    
</div>

<button type="button" class="btn btn-success" onclick=redirectcreateUser() style="margin-left: 5px; margin-top: 5px;">
    <i class="fa-solid fa-user-plus"></i> {% trans "Crear Usuario" %}
</button>

{% endblock %}


<!--<div class="row">
    <div class="col-sm-10 col-md-6 col-lg-4 col-xl-6">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>-->
