html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(#141e30, #243b55);
    background-image: url('../imgs/bg.jpg'); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Ajusta el tamaño para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.6);
    border-radius: 10px;
}

.container h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.container .user{
    position: relative;
}

.container .user input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.container .user label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.container .user input:focus ~ label,
.container .user input:valid ~ label{
    top: -20px;
    left: 0;
    color: #1576EE;
    font-size: 12px;
}

.container form button{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: inline-block;
    background: black;
    border-color: #fff;
    padding: 10px 20px;
    color: #1576EE;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    cursor: pointer;
    margin-left: 80px;
}

.container button:hover{
    background: #1576EE;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px #1576EE,
                0 0 25px #1576EE
                0 0 50px #1576EE
                0 0 100px #1576EE;
}


div.alerts {
    width: 100%;
    max-width: 600px;
    margin: 20px auto; 
    padding: 15px;
    background-color: #f8d7da; 
    border: 1px solid #f5c6cb; 
    border-radius: 5px; 
    box-sizing: border-box; 
  }
  
ul.messages {
    color: #721c24; 
    list-style: none;
    padding: 0;
    margin: 0;
}
  

ul.messages li {
    margin: 5px 0;
}
  